body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.header {
    background-color: #0C5A28;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 80px;
}
ul {
    list-style: none;
    gap: 64px;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: white
}
.logo {
    width: auto;
    height: 144px;    
}
.top_section {
    display: flex;
    background-color: #BAB254;
    color: white;
    padding: 80px;
    gap: 40px
}
.top_left_part {
    display: flex;
    flex-direction: column;
    width: 50%
}
.top_left_title {
    font-size: 32px;
    margin: 0;
    color: black
}
.top_left_text {
    color: black
}
.top_right_part {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #0C5A28;
    width: 50%;
    min-width: 144px
}
.top_right_img {
    width: 50%;
    min-width: 144px;
    height: auto;
    flex-shrink: 0;
    flex-grow: 0
}

.top_left_button {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px 24px;
    border-radius: 12px;
    border-color: #0C5A28;
    border-style: solid;
    color: #BAB254;
    background-color: #0C5A28;
    font-size: 16px;
    font-weight: 600
}
.top_left_button:hover {
    color: #0C5A28;
    background-color: #BAB254;
    border-style: solid;
    border-color: #0C5A28
}